body,
html{
	margin: 0;
	padding: 0;
	height: 388.4px;
	font-size: 14px;
	font-family: arial,tahoma,宋体;
}
.wrapper{
	width: 700px;
	height: 302.4px;
	margin: 86px auto 0px auto;
}
.mylogo{
	margin: 0 auto 60px auto;
	height: 105.2px;
	overflow: hidden;
	text-align: center;
}
.mysearch{
	width: 700px;
	height: 41.6px;
}
.searchinput{
	width: 87.2%;
	height: 86%;
}
.searchbutton{
	width: 12%;
	float:right;
	background: #08db5a;
	margin: 0;
	top: 0;
	right: -5px;
	z-index: 10;
	height: 41px;
	font-size: 14px;
	color: #fff;
	border: none;
	border-radius: 3px;
	overflow: hidden;
}
.info{
	margin-top:10%;
	width:100%;
	font-size: 18px;
	text-align: center;
}
.engine-list{
	display:none;
	top: 40px;
	left: 0;
	width: 87.2%;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	line-height: 27px;
	font-size: 12px;
	cursor: pointer;s
}
ul,li{
	list-style-type: none;
	padding-left: 0px;
}
.engine-list li:hover, .engine-list li.selected {
    background: #ccc;
}
.engine-list li{
	text-indent: 10px;
}